<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/public-pages/public-layout}">

<head>
	<meta charset="UTF-8">

	<title>Tin tức</title>

</head>

<body>
	<div class="wrapper bg-light">

		<div layout:fragment="option-content-before">

		</div>



		<section class="section">

			<!-- content header -->
			<div class="row justify-content-center mb-5 element-animate" layout:fragment="content-header">
				<div class="col-md-8 text-center">
					<h1 class="heading mb-4">TIN TỨC</h1>
					<!-- <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit
						quam minima expedita atque corrupti reiciendis.</p> -->
				</div>
			</div>
			<!-- /.content header -->

			<div class="container" layout:fragment="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="card">
							<div class="card-body ">
								<div class="d-flex d-block align-items-stretch">
									<div class="container">
										<div class="row">
											<div class="text text-left element-animate">
												<h3 th:utext="${news.title}" class="mb-2">Vinpearl Phú
													Quốc</h3>
												<span th:utext="${#temporals.format(news.created_at, 'dd/MM/yyyy')}"
													class="post-meta">June 8, 2018</span>
												<p th:utext="${news.description}" class="mb-3">Lorem ipsum
													dolor sit amet, consectetur adipisicing elit. Corporis
													tempora inventore, aliquam ratione. Eum vero sapiente
													tempora eveniet perspiciatis libero, omnis quae facilis!
													Voluptatibus minima autem, esse eius natus labore.</p>
												<p>
											</div>

											<img class="img-fluid element-animate" width="100%" height="100%"
												th:src="@{${BASE_PATH_NEWS_RESOURCE} + '/' + ${news.id} + '/' + ${news.thumbnail}}"
												th:alt="${news.name}">

											<div class="text text-left element-animate">
												<div th:utext="${news.content}" class="mt-3">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit.
													Corporis tempora inventore, aliquam ratione. Eum vero
													sapiente tempora eveniet perspiciatis libero, omnis quae
													facilis! Voluptatibus minima autem, esse eius natus labore.
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>


				</div>
			</div>
	</div>
	</section>

	<div layout:fragment="option-content-after">

	</div>


	</div>
	<!-- ./wrapper -->

	<!-- script option -->
	<th:block layout:fragment="script"></th:block>
	<!-- /. script option -->
</body>

</html>