<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/public-pages/public-layout}">

<head>
	<meta charset="UTF-8">

	<title>Tin tức</title>

</head>

<body>
	<div class="wrapper bg-light">

		<div layout:fragment="option-content-before">

		</div>



		<section class="section">

			<!-- content header -->
			<div class="col-md-8 text-center" layout:fragment="content-header">
				<!-- <h1 class="heading mb-4">TIN TỨC</h1> -->
				<!-- <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit
						quam minima expedita atque corrupti reiciendis.</p> -->
			</div>
			<!-- /.content header -->

			<div class="container" layout:fragment="content">
				<div class="row">
					<th:block th:each=" n : ${targetNewses}">
						<div class="col-lg-3 col-md-6 col-xl-3 d-flex align-items-stretch mb-3 element-animate">
							<div class="card card-bordedless">
								<a th:href="@{'/tin-tuc/' + ${cateSlug} + '/' + ${n.slug}}">
									<img class="card-img-top" style="object-fit: cover;" width="200" height="200"
										th:src="@{${BASE_PATH_NEWS_RESOURCE} + '/' + ${n.id} + '/' + ${n.thumbnail}}"
										th:alt="${n.name}">
								</a>
								<div class="card-body d-flex flex-column pb-0" style="max-height: 300px;">
									<div>
										<h6>
											<a th:utext="${n.title}"
												th:href="@{'/tin-tuc/' + ${cateSlug} + '/' + ${n.slug}}">ThuanThanhLand</a>
										</h6>
									</div>

									<div th:utext="${n.description}" class="text-muted "
										style="overflow: hidden; text-overflow: ellipsis;" data-toggle="tooltip"
										data-placement="bottom" th:title="${n.description}">
										ThuanThanhLand</div>
									<div class="text text-sm d-flex align-items-center pt-2 mb-0 mt-auto">
										<div>
											<th:block th:if="${n.updatedAt}">
												<small class="d-block text-muted">
													<p th:utext="${#temporals.format(n.updatedAt, 'dd/MM/yyyy')}">19
														December,
														2019</p>
												</small>
											</th:block>
											<th:block th:unless="${n.updatedAt}">
												<small class="d-block text-muted">
													<p th:utext="${#temporals.format(n.createdAt, 'dd/MM/yyyy')}">19
														December,
														2019</p>
												</small>
											</th:block>

										</div>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>

				<!-- phân trang -->
				<div th:replace="/public-pages/fragments/paging::news-paging">
				</div>
				<!-- /.phân trang -->
			</div>
	</div>
	</section>

	<div layout:fragment="option-content-after">

	</div>


	</div>
	<!-- ./wrapper -->

	<!-- script option -->
	<th:block layout:fragment="script"></th:block>
	<!-- /. script option -->
</body>

</html>