<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/public-pages/public-layout}">

<head>
    <meta charset="UTF-8">

    <title>Liên hệ</title>

</head>

<body>
    <div class="wrapper bg-light">

        <!-- content header -->
        <div class="col-md-8 text-center" layout:fragment="content-header">
            <!-- <h1 class="heading mb-4">LIÊN HỆ</h1> -->
            <!-- <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit
						quam minima expedita atque corrupti reiciendis.</p> -->
        </div>
        <!-- /.content header -->

        <div class="container" layout:fragment="content">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <form th:action="@{/lien-he/save}" th:object="${contact}" th:method="post">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="name">Họ và tên <span style="color: red;">*</span></label> <input th:value="*{name}" th:field="*{name}"
                                            type="text" id="name" class="form-control" placeholder="Họ và tên"><span
                                            class="text text-danger badge" th:if="${isNameError}"
                                            th:utext="${nameErrorMessage}">Name
                                            Error</span>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="phone">Số điện thoại <span style="color: red;">*</span></label> <input th:value="*{phone}"
                                            th:field="*{phone}" type="text" id="phone" class="form-control"
                                            placeholder="Số điện thoại" onkeypress="InputNumber(event);"><span
                                            class="text text-danger badge" th:if="${isPhoneError}"
                                            th:utext="${phoneErrorMessage}">Phone
                                            Error</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="email">Email <span style="color: red;">*</span></label> <input th:value="*{email}" th:field="*{email}"
                                            type="text" id="email" class="form-control" placeholder="Email"><span
                                            class="text text-danger badge" th:if="${isEmailError}"
                                            th:utext="${emailErrorMessage}">Email
                                            Error</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="address">Địa chỉ</label> <input th:value="*{address}"
                                            th:field="*{address}" type="text" id="address" class="form-control"
                                            placeholder="Địa chỉ">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="message">Nội dung</label>
                                        <textarea th:value="*{content}" th:field="*{content}" name="message"
                                            id="message" class="form-control" placeholder="Nội dung tin nhắn" cols="30"
                                            rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <input type="submit" value="Gửi" class="btn btn-primary px-3 py-3">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card h-100">

                        <div class="card-body d-flex align-items-center">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.0547237798855!2d105.80231051437575!3d20.990443386019177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acbfb81c4d15%3A0x7358bc6b15c5b06a!2zOSDEkMaw4budbmcgTmd1eeG7hW4gWGnhu4NuLCBUaGFuaCBYdcOibiBOYW0sIFRoYW5oIFh1w6JuLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1614236345402!5m2!1svi!2s"
                                width="100%;" height="450" style="border:1px solid; border-color: rgba(0,0,0,0.3);"
                                allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- ./wrapper -->

    <!-- script option -->
    <th:block layout:fragment="script"></th:block>
    <!-- /. script option -->
</body>

</html>