<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/public-pages/public-layout">

<head>
	<meta charset="UTF-8">

	<title>Dự án</title>

</head>

<body>
	<div class="wrapper bg-light">

		<section class="section">

			<!-- content header -->
			<div class="row justify-content-center mb-5 element-animate" layout:fragment="content-header">
				<div class="col-md-8 text-center">
					<h2 class="heading mb-4">Check Our Awesome Projects</h2>
					<p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit
						quam minima expedita atque corrupti reiciendis.</p>
				</div>
			</div>
			<!-- /.content header -->

			<div class="container" layout:fragment="container">
				<div class="row align-items-stretch mb-5">

					<th:block th:each="p : ${projects}">
						<div class="col-lg-3 col-md-4 col-xl-3 element-animate mb-2">
							<div class="card card-bordedless">
								<a href="project-single.html" th:href="@{'/du-an/detail/' + ${p.slug}}"
									class="link-thumbnail"><span class="ion-plus icon"></span>
									<img src="/public-static/images/img_1.jpg" th:src="@{${p.image}}"
										th:alt="${p.title}" alt="thuanthanhland.com" class="card-img-top"
										style="object-fit: cover;" width="200" height="200">
								</a>
								<div class="card-body">
									<a href="project-single.html" th:href="@{'/du-an/detail/' + ${p.slug}}">
										<h5 class="lead font-weight-bold text text-center text-sm text-secondary"
											th:utext="${p.name}">Vinhomes
											Golden River</h5>
									</a>
								</div>
							</div>

						</div>
					</th:block>
				</div>
			</div>
		</section>


	</div>
	<!-- ./wrapper -->

	<!-- script option -->
	<th:block layout:fragment="script"></th:block>
	<!-- /. script option -->
</body>

</html>