<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/public-pages/public-layout}">

<head>
    <meta charset="UTF-8">

    <title>Dự án</title>

</head>

<body>
    <div class="wrapper bg-light">

        <section layout:fragment="option-content-before">
        </section>

        <section class="section">

            <!-- content header -->
            <div class="col-md-8 text-center" layout:fragment="content-header">
            </div>
            <!-- /.content header -->

            <div class="container" layout:fragment="content">
                <div class="card">
                    <div class="card-header">
                        <h5 class="font-weight-bold text-uppercase" th:utext="${project.title}"></h5>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <div class="card h-100">
                                    <img src="/public-static/images/img_1.jpg"
                                        th:src="@{${BASE_PATH_PROJECT_RESOURCE} + '/' + ${project.id} + '/'+${project.thumbnail}}"
                                        th:alt="${project.name}" class="card-img-top img-fluid"
                                        style="object-fit: cover;" width="200" height="200">
                                    <div class="card-body">
                                        <p th:utext="${project.description}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="card h-100">
                                    <div class="card-img-top">
                                        <th:block th:if="${project.images}">
                                            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carouselIndicators"
                                                        th:each="image, iter : ${project.images}"
                                                        th:data-slide-to="${iter.index}"
                                                        th:class="${iter.index == 0}? 'active' : ''"></li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div th:class=" ${iter.index == 0} ? 'carousel-item active' : 'carousel-item'"
                                                        th:each="image, iter : ${project.images}">
                                                        <img class="d-block w-100"
                                                            th:src="${BASE_PATH_PROJECT_RESOURCE} + '/' + ${project.id} + '/' + ${DIR_IMAGE_DETAILS} + '/' + ${image.name}"
                                                            th:alt="${image.name}" style="object-fit: cover;">
                                                    </div>
                                                </div>
                                                <a class="carousel-control-prev" href="#carouselIndicators"
                                                    role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselIndicators"
                                                    role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>

                                        </th:block>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <div class="container">
                                <p th:utext="${project.content}"></p>

                                <th:block th:if="${project.features}">
                                    <div class="row">
                                        <table class="table">
                                            <tbody>
                                                <tr th:each="featureKey : ${project.features.keySet()}">
                                                    <td class="text-left text-nowrap font-weight-bold"
                                                        th:utext="${featureKey}">
                                                    </td>
                                                    <td class="text-left">
                                                        [(${project.features['__${featureKey}__']})]
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </th:block>


                            </div>
                        </div>

                    </div>
                </div>

                <!-- Bình luận -->
                <div class="card mt-4">
                    <div class="card-header">
                        <th:block sec:authorize="isAuthenticated()">
                            <h5 class="card-text font-weight-bold">Bình luận</h5>

                        </th:block>
                        <th:block sec:authorize="isAnonymous()">
                            <h5 class="card-text font-weight-bold">Bạn phải <a th:href="@{/dang-nhap}">đăng nhập</a> để
                                bình
                                luận
                            </h5>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <!-- comment 1 -->
                        <div class="media">
                            <img src="https://www.kindpng.com/picc/m/22-223863_no-avatar-png-circle-transparent-png.png"
                                class="mr-3" alt="..." width="32" height="32">
                            <div class="media-body container">
                                <div class="row align-items-center">
                                    <h6 class="mt-0 font-weight-bold mr-auto">Vũ Đăng Hưng</h6>
                                    <th:block sec:authorize="hasRole('ADMIN')">
                                        <a class="btn text-secondary btn-sm ml-2" href="javascript:void(0)">Ẩn</a>
                                        <a class="btn-repply-comment btn text-info btn-sm ml-2"
                                            href="javascript:void(0)">Trả lời</a>
                                        <a class="fa fa-times fa-2x btn-sm ml-2" href="javascript:void(0)"></a>
                                    </th:block>

                                </div>
                                <div class="row">
                                    <p class="col-10">Greetings loved ones let's take a journey. Yes, we make angels
                                        cry,
                                        raining down on earth from up above. Standing on the frontline when
                                        the
                                        bombs start to fall. Heaven is jealous of our love. Standing on the
                                        frontline</p>

                                    <a sec:authorize="hasRole('USER')" href="javascript:void(0)"
                                        th:class="${#authorization.expression('isAnonymous()')} ? 'btn-repply-comment btn text text-center text-sm col-2 align-self-end d-none' :'btn-repply-comment btn text text-center text-sm col-2 align-self-end' "><i
                                            class="fa fa-reply"></i> <span class="d-none d-md-block">Trả
                                            lời</span></a>

                                </div>

                                <th:block sec:authorize="isAuthenticated()">
                                    <div class="d-none col-md-8 card comment-box border-0 mt-3">
                                        <div class="card-header">
                                            <h6 th:utext="${#authentication.getPrincipal().getUser().getName()}"
                                                class="card-subtitle text-uppercase">
                                            </h6>
                                        </div>
                                        <div class="card-body">
                                            <form action="#" method="post">
                                                <div class="row">
                                                    <div class="form-group w-100">
                                                        <label class="font-weight-bold"
                                                            for="inputControlForCommentBox">Nội
                                                            dung</label>
                                                        <textarea class="editor form-control"
                                                            id="inputControlForCommentBox"></textarea>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary float-right row"
                                                    type="submit">Gửi</button>
                                            </form>
                                        </div>
                                    </div>
                                </th:block>

                                <div class="media mt-3">
                                    <img src="https://www.kindpng.com/picc/m/22-223863_no-avatar-png-circle-transparent-png.png"
                                        class="mr-3" alt="..." width="32" height="32">
                                    <div class="media-body">
                                        <div class="row col">
                                            <h6 class="mt-0 font-weight-bold mr-5">Nguyễn Thị Phương</h6>
                                            <th:block sec:authorize="hasRole('ADMIN')">
                                                <a class="btn text-secondary btn-sm ml-2"
                                                    href="javascript:void(0)">Ẩn</a>
                                                <a class="fa fa-times fa-2x btn-sm ml-2" href="javascript:void(0)"></a>
                                            </th:block>
                                        </div>
                                        <div class="container">
                                            <div class="row">
                                                <p class="col-11">Greetings loved ones let's take a journey. Yes, we
                                                    make
                                                    angels
                                                    cry,
                                                    raining down on earth from up above. Standing on the
                                                    frontline
                                                    when
                                                    the
                                                    bombs start to fall. Heaven is jealous of our love. Standing
                                                    on
                                                    the
                                                    frontline</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- comment 2 -->
                        <div class="media">
                            <img src="https://www.kindpng.com/picc/m/22-223863_no-avatar-png-circle-transparent-png.png"
                                class="mr-3" alt="..." width="32" height="32">
                            <div class="media-body container">
                                <div class="row align-items-center">
                                    <h6 class="mt-0 font-weight-bold mr-auto">Vũ Đăng Hưng</h6>
                                    <th:block sec:authorize="hasRole('ADMIN')">
                                        <a class="btn text-secondary btn-sm ml-2" href="javascript:void(0)">Ẩn</a>
                                        <a class="btn-repply-comment btn text-info btn-sm ml-2"
                                            href="javascript:void(0)">Trả lời</a>
                                        <a class="fa fa-times fa-2x btn-sm ml-2" href="javascript:void(0)"></a>
                                    </th:block>

                                </div>
                                <div class="row">
                                    <p class="col-10">Greetings loved ones let's take a journey. Yes, we make angels
                                        cry,
                                        raining down on earth from up above. Standing on the frontline when
                                        the
                                        bombs start to fall. Heaven is jealous of our love. Standing on the
                                        frontline</p>

                                    <a sec:authorize="hasRole('USER')" href="javascript:void(0)"
                                        th:class="${#authorization.expression('isAnonymous()')} ? 'btn-repply-comment btn text text-center text-sm col-2 align-self-end d-none' :'btn-repply-comment btn text text-center text-sm col-2 align-self-end' "><i
                                            class="fa fa-reply"></i> <span class="d-none d-md-block">Trả
                                            lời</span></a>
                                </div>
                                <th:block sec:authorize="isAuthenticated()">
                                    <div class="d-none col-md-8 card comment-box border-0 mt-3">
                                        <div class="card-header">
                                            <h6 th:utext="${#authentication.getPrincipal().getUser().getName()}"
                                                class="card-subtitle text-uppercase">
                                            </h6>
                                        </div>
                                        <div class="card-body">
                                            <form action="#" method="post">
                                                <div class="row">
                                                    <div class="form-group w-100">
                                                        <label class="font-weight-bold"
                                                            for="inputControlForCommentBox">Nội
                                                            dung</label>
                                                        <textarea class="editor form-control"
                                                            id="inputControlForCommentBox"></textarea>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary float-right row"
                                                    type="submit">Gửi</button>
                                            </form>
                                        </div>
                                    </div>
                                </th:block>

                                <div class="media mt-3">
                                    <img src="https://www.kindpng.com/picc/m/22-223863_no-avatar-png-circle-transparent-png.png"
                                        class="mr-3" alt="..." width="32" height="32">
                                    <div class="media-body">
                                        <div class="row col">
                                            <h6 class="mt-0 font-weight-bold mr-5">Nguyễn Thị Phương</h6>
                                            <th:block sec:authorize="hasRole('ADMIN')">
                                                <a class="btn text-secondary btn-sm ml-2"
                                                    href="javascript:void(0)">Ẩn</a>
                                                <a class="fa fa-times fa-2x btn-sm ml-2" href="javascript:void(0)"></a>
                                            </th:block>

                                        </div>
                                        <div class="container">
                                            <div class="row">
                                                <p class="col-11">Greetings loved ones let's take a journey. Yes, we
                                                    make angels cry, raining down on earth from up above. Standing on
                                                    the
                                                    frontline when the bombs start to fall. Heaven is jealous of our
                                                    love. Standing
                                                    on the frontline Greetings loved ones let's take a journey. Yes, we
                                                    make angels cry, raining down on earth from up above. Standing on
                                                    the
                                                    frontline when the bombs start to fall. Heaven is jealous of our
                                                    love. Standing on the frontline</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="container">
                        <th:block sec:authorize="isAuthenticated()">
                            <div id="global-comment-box" class="col-md-8 card comment-box border-0 mt-3">
                                <div class="card-header">
                                    <h6 class="card-subtitle text-uppercase">Thêm bình luận - <span
                                            th:utext="${#authentication.getPrincipal().getUser().getName()}"></span>
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="form-group w-100">
                                                <label class="font-weight-bold" for="inputControlForCommentBox">Nội
                                                    dung</label>
                                                <textarea class="editor form-control"
                                                    id="inputControlForCommentBox"></textarea>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary float-right row" type="submit">Gửi</button>
                                    </form>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </section>

        <section class="container border-t" layout:fragment="option-content-after">

            <div class="container-fluid">
                <div class="row justify-content-center mb-3 element-animate">
                    <div class="col-md-8 text-center">
                        <h2 class=" heading mb-4">CÁC DỰ ÁN KHÁC</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-md-4 element-animate">
                    <a href="project-single.html" class="link-thumbnail"> <span class="ion-plus icon"></span>
                        <img th:src="${#request.contextPath} + '/public-static/images/img_1.jpg'"
                            alt="thuanthanhland.com" class="img-fluid">
                    </a>
                    <h3 class="lead font-weight-bold text text-center text-secondary mt-2 mb-4">Vinhomes Golden
                        River</h3>
                </div>

                <div class="col-md-4 element-animate">
                    <a href="project-single.html" class="link-thumbnail"> <span class="ion-plus icon"></span>
                        <img th:src="${#request.contextPath} + '/public-static/images/img_2.jpg'"
                            alt="thuanthanhland.com" class="img-fluid">
                    </a>
                    <h3 class="lead font-weight-bold text text-center text-secondary mt-2 mb-4">Tràng An Complex
                    </h3>
                </div>

                <div class="col-md-4 element-animate">
                    <a href="project-single.html" class="link-thumbnail"> <span class="ion-plus icon"></span>
                        <img th:src="${#request.contextPath} + '/public-static/images/img_3.jpg'"
                            alt="thuanthanhland.com" class="img-fluid">
                    </a>
                    <h3 class="lead font-weight-bold text text-center text-secondary mt-2 mb-4">Gamuda Gardens
                    </h3>
                </div>

                <div class="col-md-4 element-animate">
                    <a href="project-single.html" class="link-thumbnail"> <span class="ion-plus icon"></span>
                        <img th:src="${#request.contextPath} + '/public-static/images/img_4.jpg'"
                            alt="thuanthanhland.com" class="img-fluid">
                    </a>
                    <h3 class="lead font-weight-bold text text-center text-secondary mt-2 mb-4">Permier Village
                        Phú
                        Quốc</h3>
                </div>

                <div class="col-md-4 element-animate">
                    <a href="project-single.html" class="link-thumbnail">
                        <span class="ion-plus icon"></span> <img
                            th:src="${#request.contextPath} + '/public-static/images/img_5.jpg'"
                            alt="thuanthanhland.com" class="img-fluid">
                    </a>
                    <h3 class="lead font-weight-bold text text-center text-secondary mt-2 mb-4">Him Lam Chợ Lớn
                    </h3>
                </div>

                <div class="col-md-4 element-animate">
                    <a href="project-single.html" class="link-thumbnail">
                        <span class="ion-plus icon"></span> <img
                            th:src="${#request.contextPath} + '/public-static/images/img_6.jpg'"
                            alt="thuanthanhland.com" class="img-fluid">
                    </a>
                    <h3 class="lead font-weight-bold text text-center text-secondary mt-2 mb-4">Mon City Mỹ Đình
                    </h3>
                </div>

            </div>

        </section>
    </div>


    </div>
    <!-- ./wrapper -->

    <!-- script option -->
    <th:block layout:fragment="script">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.7.1/tinymce.min.js"
            integrity="sha512-RnlQJaTEHoOCt5dUTV0Oi0vOBMI9PjCU7m+VHoJ4xmhuUNcwnB5Iox1es+skLril1C3gHTLbeRepHs1RpSCLoQ=="
            crossorigin="anonymous"></script>

        <script th:src="${#request.contextPath} + '/public-static/plugins/tinymce/langs/vi.js'"></script>

        <script>
            tinymce.init({
                selector: 'textarea.editor',
                menubar: false,
                language: 'vi',
            });
        </script>

        <!-- Toggle Comment Box -->
        <script th:inline="javascript">
            /*<![CDATA[*/
            var isAuthenticated = /*[[${#authorization.expression('isAuthenticated()')}]]*/'authenticated'
            /*]]>*/

            $(function () {
                $('.btn-repply-comment').each(function (btnIndex, btnElement) {
                    $(btnElement).on('click', function (event) {
                        var toggleGlobal = true;

                        $('.comment-box').each(function (index, element) {
                            if (index == btnIndex && $(element).hasClass('d-none')) {
                                $(element).removeClass('d-none');
                                toggleGlobal = false;
                            }
                            else {
                                if (!$(element).hasClass('d-none')) {
                                    $(element).addClass('d-none');
                                }
                            }
                        })

                        event.defaultPrevented;

                        if (toggleGlobal) {
                            $('#global-comment-box').removeClass('d-none');
                        }
                    })


                })
            })

        </script>
        <!-- /.Toggle Comment Box -->
    </th:block>
    <!-- /. script option -->
</body>

</html>