<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/public-pages/public-layout}">

<head>
	<meta charset="UTF-8">

	<title>Dịch vụ của chúng tôi</title>

</head>

<body>
	<div class="wrapper bg-light">

		<div layout:fragment="option-content-before">

		</div>



		<section class="section element-animate">

			<!-- content header -->
			<div class="col-md-8 text-center" layout:fragment="content-header">
				<h1 class="heading mb-4">DỊCH VỤ</h1>
				<!-- <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit
						quam minima expedita atque corrupti reiciendis.</p> -->
			</div>
			<!-- /.content header -->

			<div class="container" layout:fragment="content">
				<div class="row">
					<div class="col-md-6 col-lg-4 element-animate mb-4">
						<div class="media block-6 d-block text-center">
							<div class="icon mb-3">
								<span class="ion-ios-bell-outline"></span>
							</div>
							<div class="media-body">
								<h3 class="heading">Tầm Nhìn</h3>
								<p>Even the all-powerful Pointing has no control about the
									blind texts it is an almost unorthographic.</p>
							</div>
						</div>

					</div>
					<div class="col-md-6 col-lg-4 element-animate mb-4">
						<div class="media block-6 d-block text-center">
							<div class="icon mb-3">
								<span class="ion-ios-heart-outline"></span>
							</div>
							<div class="media-body">
								<h3 class="heading">Sứ Mệnh</h3>
								<p>Even the all-powerful Pointing has no control about the
									blind texts it is an almost unorthographic.</p>
							</div>
						</div>

					</div>
					<div class="col-md-6 col-lg-4 element-animate mb-4">
						<div class="media block-6 d-block text-center">
							<div class="icon mb-3">
								<span class="ion-ios-bolt-outline"></span>
							</div>
							<div class="media-body">
								<h3 class="heading">Giá Trị Cốt Lõi</h3>
								<p>Even the all-powerful Pointing has no control about the
									blind texts it is an almost unorthographic.</p>
							</div>
						</div>

					</div>

					<div class="col-md-6 col-lg-4 element-animate mb-4">
						<div class="media block-6 d-block text-center">
							<div class="icon mb-3">
								<span class="ion-ios-bell-outline"></span>
							</div>
							<div class="media-body">
								<h3 class="heading">Tầm Nhìn</h3>
								<p>Even the all-powerful Pointing has no control about the
									blind texts it is an almost unorthographic.</p>
							</div>
						</div>

					</div>
					<div class="col-md-6 col-lg-4 element-animate mb-4">
						<div class="media block-6 d-block text-center">
							<div class="icon mb-3">
								<span class="ion-ios-heart-outline"></span>
							</div>
							<div class="media-body">
								<h3 class="heading">Sứ Mệnh</h3>
								<p>Even the all-powerful Pointing has no control about the
									blind texts it is an almost unorthographic.</p>
							</div>
						</div>

					</div>
					<div class="col-md-6 col-lg-4 element-animate mb-4">
						<div class="media block-6 d-block text-center">
							<div class="icon mb-3">
								<span class="ion-ios-bolt-outline"></span>
							</div>
							<div class="media-body">
								<h3 class="heading">Giá Trị Cốt Lõi</h3>
								<p>Even the all-powerful Pointing has no control about the
									blind texts it is an almost unorthographic.</p>
							</div>
						</div>

					</div>

				</div>
			</div>
		</section>

		<div layout:fragment="option-content-after">

		</div>


	</div>
	<!-- ./wrapper -->

	<!-- script option -->
	<th:block layout:fragment="script"></th:block>
	<!-- /. script option -->
</body>

</html>