<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/public-pages/public-layout">

<head>
	<meta charset="UTF-8">

	<title>Tuyển dụng</title>

</head>

<body>
	<div class="wrapper bg-light">

		<div layout:fragment="option-content-before">

		</div>



		<section class="section element-animate">

			<!-- content header -->
			<div class="row justify-content-center mb-5 element-animate" layout:fragment="content-header">
				<div class="col-md-8 text-center">
					<h1 class="heading mb-4">TUYỂN DỤNG</h1>
					<p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit
						quam minima expedita atque corrupti reiciendis.</p>
				</div>
			</div>
			<!-- /.content header -->

			<div class="container" layout:fragment="container">
				<div class="row">
					<div class="col-md-4">
						<div class="card" style="height: 100%;">
							<div class="card-body">
								<!-- menu recruitment -->
								<div th:replace="/public-pages/fragments/recruitments/menu"></div>
							</div>
						</div>
					</div>

					<div class="col-md-8 text-left">
						<div class="card" style="height: 100%;">
							<div class="card-body">
								<div>
									<div>
										<h1 class="h1 mb-5">QUY ĐỊNH VỀ HỒ SƠ ỨNG VIÊN</h1>
										<b>Khi tham gia ứng tuyển ứng viên phải hoàn chỉnh bộ Hồ sơ ứng
											tuyển theo quy định của Công ty gồm:</b>
										<ol>
											<li>Phiếu Thông tin ứng viên <a>[Tải về tại đây].</a></li>
											<li>Bằng chuyên môn (chứng thực).</li>
											<li>Chứng thực chứng chỉ liên quan (chứng chỉ nghề, tin học,
												ngoại ngữ…)</li>
											<li>Sơ yếu lý lịch (bản chính có xác nhận của địa phương).</li>
											<li>Giấy khám sức khỏe (bản chính, không quá 06 tháng).</li>
											<li>Chứng minh nhân dân, hộ khẩu (có công chứng, chứng thực).</li>
											<li>Thư dự tuyển (Phiếu dự tuyển lao động hoặc Đơn xin việc).</li>
											<li>Bảng điểm (nếu chưa có bằng chuyên môn).</li>
											<li>Hình 3*4 ( 04 tấm)</li>
										</ol>
										<i>Lưu ý: Công ty Thuận Thành chỉ liên hệ qua mail hoặc điện
											thoại đối với các hồ sơ đạt yêu cầu sơ tuyển.</i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div layout:fragment="option-content-after">

		</div>


	</div>
	<!-- ./wrapper -->

	<!-- script option -->
	<th:block layout:fragment="script"></th:block>
	<!-- /. script option -->
</body>

</html>