<div class="row">
    <div class="col-12">
        <div class="row justify-content-center">
            <a th:class="${active_hr_policies} ? 'col-12 btn btn-outline-primary mb-2 text-left active' : 'col-12 btn btn-outline-primary mb-2 text-left'"
                th:href=@{/tuyen-dung/chinh-sach-nhan-su}>Chính
                sách
                nhân sự</a>
            <a th:class="${active_career_opportunities} ? 'col-12 btn btn-outline-primary mb-2 text-left active' : 'col-12 btn btn-outline-primary mb-2 text-left'"
                th:href=@{/tuyen-dung/co-hoi-nghe-nghiep}>Cơ hội
                nghề
                nghiệp</a>
            <a th:class="${active_specified_candidate_profile} ? 'col-12 btn btn-outline-primary mb-2 text-left active' : 'col-12 btn btn-outline-primary mb-2 text-left'"
                th:href=@{/tuyen-dung/quy-dinh-ho-so-ung-tuyen}>Quy
                định hồ
                sơ ứng
                tuyển</a>
        </div>
    </div>
    <div class="col-12 mt-2">
        <p>
            <strong>HƯỚNG DẪN NỘP HỒ SƠ</strong>
        </p>
        <p>
            Ứng viên tải biểu mẫu đăng kí <a href="#">&gt;&gt; tại đây
                &lt;&lt;</a>, điền đầy đủ thông tin, gởi về địa chỉ
            email:<a href="mailto:tuyendung@thuanthanhtech.com"><span>tuyendung@thuanthanhtech.com</span></a><br>
            Mọi thắc mắc Liên hệ trực tiếp Bộ phận Tuyển dụng: <br> ĐT: Mr. Phương 084 224 5584
        </p>
        <p>
            <strong>Mr. Phương - CV Tuyển dụng</strong><br> - Email: <a
                href="mailto:thuongntb@thuanhthanhland.com.vn">thuongntb@thuanthanhland.com.vn</a>
        </p>
    </div>
</div>