<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/admin-pages/admin-layout}">

<head>
	<meta charset="UTF-8">

	<title>Liên hệ</title>


</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header" layout:fragment="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">

							<h1>Liên hệ</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
								<li class="breadcrumb-item active">Liên hệ</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content" layout:fragment="content">
				<div class="container-fluid">
					<div class="row">

						<div class="card card-info w-100">
							<div class="card-header">
								<h2 class="card-title font-weight-bold">Cập nhật liên hệ</h2>
							</div>
							<div class="card-body">
								<form th:action="@{'/admin/contact/update/' + ${contact.id}}" th:object="${contact}"
									th:method="post">
									<div class="row">
										<div class="col-sm-6">
											<div>
												<div class="form-group">
													<label for="exampleInput1">Tên liên hệ (<span
															style="color: red;">*</span>)</label> <input
														th:field="*{name}" type="text" class="form-control"
														id="exampleInput1" placeholder="Tên liên hệ" /><span
														class="text text-danger badge" th:if="${isNameError}"
														th:utext="${nameErrorMessage}">Name Error</span>
												</div>
												<div class="form-group">
													<label for="exampleInput2">Email (<span
															style="color: red;">*</span>)</label> <input
														th:field="*{email}" type="email" class="form-control"
														id="exampleInput2" placeholder="Email" /><span
														class="text text-danger badge" th:if="${isEmailError}"
														th:utext="${emailErrorMessage}">Email
														Error</span>
												</div>

												<div class="form-group">
													<label for="exampleInputPhone">Số điện thoại (<span
															style="color: red;">*</span>)</label> <input
														th:field="*{phone}" type="tel" class="form-control"
														id="exampleInputPhone" onkeypress="InputNumber(event)"
														placeholder="Số điện thoại" /><span
														class="text text-danger badge" th:if="${isPhoneError}"
														th:utext="${phoneErrorMessage}">Phone
														Error</span>
												</div>

												<div class="form-group">
													<label for="exampleInputAddress">Địa chỉ</label> <input
														th:field="*{address}" type="text" class="form-control"
														id="exampleInputAddress" placeholder="Địa chỉ" />
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label for="exampleInputContent">Nội dung</label>
												<textarea class="form-control" th:field="*{content}" rows="5"
													style="width: 100%;" placeholder="Nội dung"></textarea>
											</div>
										</div>
									</div>
									<!-- button submit -->
									<div>
										<a class="btn btn-primary float-right" th:href="@{/admin/contact}">Trở
											về</a>
										<button type="submit" class="float-right btn btn-success mr-2">Lưu</button>
									</div>
									<!-- /.button submit -->
								</form>
							</div>
						</div>

					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->

	<!-- script option -->
	<th:block layout:fragment="script">
		<!--Event chỉ nhập số-->
		<script>
			function InputNumber(evt) {
				var ch = String.fromCharCode(evt.which);
				if (!(/[0-9]/.test(ch))) {
					evt.preventDefault();
				}
			}
		</script>
	</th:block>
	<!-- /. script option -->
</body>

</html>