<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/admin-pages/admin-layout}">

<head>
	<meta charset="UTF-8">

	<title>Danh mục</title>


</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header" layout:fragment="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Danh mục</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item">Trang chủ</li>
								<li class="breadcrumb-item active">Danh mục</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content" layout:fragment="content">
				<div class="container-fluid">
					<div class="row">

						<div class="card card-info w-100">
							<div class="card-header">
								<h2 class="card-title font-weight-bold">Tạo danh mục mới</h2>
							</div>
							<div class="card-body">
								<form th:action="@{/admin/category/save}" th:method="post" th:object="${category}">
									<!-- input category -->
									<div>
										<div class="form-group">
											<label for="formControlInputName">Tên danh mục (<span
													style="color: red;">*</span>)
											</label> <input th:field="*{name}" type="text" class="form-control"
												th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
												id="formControlInputName" placeholder="Tên danh mục">
											<div th:errors="*{name}" th:if="${#fields.hasErrors('name')}"
												class="invalid-feedback">>Name Error</div>
										</div>

										<div class="form-group">
											<label for="formControlInputSlug">Slug</label>
											<input th:field="*{slug}" type="text" class="form-control"
												th:class="${#fields.hasErrors('slug')} ? 'form-control is-invalid' : 'form-control'"
												id="formControlInputSlug" placeholder="" readonly>
											<div th:errors="*{slug}" th:if="${#fields.hasErrors('slug')}"
												class="invalid-feedback">Slug Error</div>
										</div>

										<!-- Lựa chọn thứ tự hiển thị danh mục -->
										<div class="form-group">
											<label for="exampleFormControlInput4">Thứ tự hiển thị
												danh mục (<span style="color: red;">*</span>)
											</label> <input th:field="*{sort}" type="text" class="form-control"
												th:class="${#fields.hasErrors('sort')} ? 'form-control is-invalid' : 'form-control'"
												id="exampleFormControlInput4" onkeypress="InputNumber(event);"
												placeholder="Thứ tự hiển thị">
											<div th:errors="*{sort}" th:if="${#fields.hasErrors('sort')}"
												class="invalid-feedback">Sort Error</div>
										</div>

										<!-- Lựa chọn danh mục gốc -->
										<div class="form-group">
											<label for="formControlInputCategory">Danh mục gốc</label>
											<select id="formControlInputCategory" name="typeCategory"
												class="form-control custom-select" th:field="*{parentId}">
												<!-- <th:block th:each="rc : ${root_categories}">
													<option th:value="${rc.id}" th:utext="${rc.name}"></option>
												</th:block> -->
											</select>
										</div>

										<fieldset class="form-group">
											<div class="row">
												<label class="col-form-label col-sm-2 pt-0">Hiển thị</label>
												<div class="col-sm-10">
													<div class="form-check">
														<input th:field="*{pub}" class="form-check-input" type="radio"
															name="gridRadiosPublic" id="gridRadiosPublic1" value="1"
															checked> <label class="form-check-label lead text-sm"
															for="gridRadiosPublic1"> Hiện thị </label>
													</div>

													<div class="form-check">
														<input th:field="*{pub}" class="form-check-input" type="radio"
															name="gridRadiosPublic" id="gridRadiosPublic2" value="0">
														<label class="form-check-label lead text-sm"
															for="gridRadiosPublic2"> Ẩn </label>
													</div>
												</div>
											</div>
										</fieldset>
										<fieldset class="form-group">
											<div class="row">
												<label class="col-form-label col-sm-2 pt-0">Nổi bật</label>
												<div class="col-sm-10">
													<div class="form-check">
														<input th:field="*{hot}" class="form-check-input" type="radio"
															name="gridRadiosHot" id="gridRadiosHot1" value="0"> <label
															class="form-check-label lead text-sm" for="gridRadiosHot1">
															Không </label>
													</div>
													<div class="form-check">
														<input th:field="*{hot}" class="form-check-input" type="radio"
															name="gridRadiosHot" id="gridRadiosHot2" value="1"> <label
															class="form-check-label lead text-sm" for="gridRadiosHot2">
															Có </label>
													</div>
												</div>
											</div>
										</fieldset>
									</div>
									<!-- /. input category -->

									<!-- button submit -->
									<div>
										<a class="btn btn-primary float-right" th:href="@{/admin/category}">Hủy
											bỏ</a>
										<button type="submit" class="float-right btn btn-success mr-2">Tạo</button>
									</div>
									<!-- /. button submit -->
								</form>
							</div>
						</div>

					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->

	<!-- script option -->
	<th:block layout:fragment="script">
		<!--Event chỉ nhập số-->
		<script>
			function InputNumber(evt) {
				var ch = String.fromCharCode(evt.which);
				if (!(/[0-9]/.test(ch))) {
					evt.preventDefault();
				}
			}
		</script>

		<!-- List danh mục -->
		<script th:inline="javascript">
			/*<![CDATA[*/
			var $rootCate = /*[[${rootCate}]]*/'rootCate';
			recursive($rootCate, "");
			/*]]>*/
			function recursive($rootCate, $level) {
				$('#formControlInputCategory').append(`
					<option value="${$rootCate.id}">${$level}${$rootCate.self.name}</option>
				`)
				if ($rootCate.childs.length > 0) {

					$.each($rootCate.childs, function (index, $cate) {
						recursive($cate, $level + '&emsp;');
					})
				}
			}
		</script>
		<!-- List danh mục -->

	</th:block>
	<!-- /. script option -->
</body>

</html>