<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/admin-pages/admin-layout">

<head>
	<meta charset="UTF-8">

	<title>Tin tức</title>


</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header" layout:fragment="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Tin tức</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item">Trang chủ</li>
								<li class="breadcrumb-item active">Tin tức</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content" layout:fragment="content">
				<div class="container-fluid">
					<div class="row">
						<div class="card card-info">
							<div class="card-header">
								<h2 class="card-title font-weight-bold">Tạo bài viết mới</h2>
							</div>
							<div class="card-body">
								<div class="col">
									<form th:action="@{/admin/news/save}" th:method="post" th:object="${news}"
										enctype="multipart/form-data">
										<div class="row">
											<div class="col-7">
												<div>
													<!-- Name Input -->
													<div class="form-group">
														<label for="formControlInputName">Tên bài viết (<span
																style="color: red;">*</span>)</label>
														<input th:field="*{name}" type="text" class="form-control"
															th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
															id="formControlInputName" placeholder="Tên bài viết">
														<div th:errors="*{name}" th:if="${#fields.hasErrors('name')}"
															class="invalid-feedback">Name Error</div>
													</div>

													<!-- Slug Input -->
													<div class="form-group">
														<label for="formControlInputSlug">Slug</label>
														<input th:field="*{slug}" type="text" class="form-control"
															th:class="${#fields.hasErrors('slug')} ? 'form-control is-invalid' : 'form-control'"
															id="formControlInputSlug" placeholder="" readonly>
														<div th:errors="*{slug}" th:if="${#fields.hasErrors('slug')}"
															class="invalid-feedback">Slug Error</div>
													</div>

													<!-- Title Input -->

													<div class="form-group">
														<label for="exampleFormControlInput3">Tiêu đề (<span
																style="color: red;">*</span>)</label> <input
															th:field="*{title}" type="text" class="form-control"
															th:class="${#fields.hasErrors('title')} ? 'form-control is-invalid' : 'form-control'"
															id="exampleFormControlInput3" placeholder="Tiêu đề">
														<div th:errors="*{title}" th:if="${#fields.hasErrors('title')}"
															class="invalid-feedback">Title Error</div>
													</div>

													<!-- Select Category -->

													<div class="form-group">
														<label for="formControlInputCategory">Danh mục</label>
														<select id="formControlInputCategory"
															class="form-control custom-select"
															th:field="*{category.id}">

														</select>
													</div>

													<!-- Description Input -->
													<div class="form-group">
														<label for="inputDescription">Mô tả (<span
																style="color: red;">*</span>)</label> <br>
														<textarea class="form-control"
															th:class="${#fields.hasErrors('description')} ? 'form-control is-invalid' : 'form-control'"
															id="inputDescription" th:field="*{description}" rows="2"
															style="width: 100%;" placeholder="Mô tả"></textarea>
														<div th:errors="*{description}"
															th:if="${#fields.hasErrors('description')}"
															class="invalid-feedback">Description Error</div>
													</div>

													<!-- Content Input -->
													<div class="form-group">
														<label for="inputContent">Nội dung</label>
														<textarea class="textarea form-control" id="inputContent"
															th:field="*{content}" placeholder="Nội dung"></textarea>
													</div>

												</div>

												<!-- Button Submit -->
												<div>
													<button id="btn-submit-default" type="submit"
														class="float-right btn btn-success mr-2" hidden>Tạo</button>
												</div>
												<!-- /. button submit -->
											</div>
											<div class="col-5">

												<!-- Upload thumbnail image of news -->
												<div class="form-group">
													<label for="uploadThumbnail">Thumbnail</label>

													<div>
														<img th:src="@{*{thumbnail}}" alt="thumbnail-media"
															class="img-thumbnail mb-2 w-100"
															id="thumbnail-image-preview"
															style="max-height: 250px; object-fit: cover;">
													</div>

													<input type="file" class="form-control" name="news_thumbnail"
														th:class="${#fields.hasErrors('thumbnail')} ? 'form-control is-invalid' : 'form-control'"
														id="uploadThumbnail" accept="image/png, image/jpeg"
														onchange="previewImage(event, 'thumbnail-image-preview')" />
													<div th:errors="*{thumbnail}"
														th:if="${#fields.hasErrors('thumbnail')}"
														class="invalid-feedback">Thumbnail Error</div>

												</div>
												<input hidden th:field="*{thumbnail}" type="text">
												<!-- /.thumbnail image upload -->

												<!-- Public Input -->

												<fieldset class="form-group">
													<div class="row">
														<label class="col-form-label col-sm-5 pt-0">Hiển
															thị</label>
														<div class="col-sm-7">
															<div class="form-check">
																<input th:field="*{pub}" class="form-check-input"
																	type="radio" name="gridRadiosPublic"
																	id="gridRadiosPublic1" value="1"> <label
																	class="form-check-label lead text-sm"
																	for="gridRadiosPublic1"> Hiện thị </label>
															</div>
															<div class="form-check">
																<input th:field="*{pub}" class="form-check-input"
																	type="radio" name="gridRadiosPublic"
																	id="gridRadiosPublic2" value="0"> <label
																	class="form-check-label lead text-sm"
																	for="gridRadiosPublic2"> Ẩn </label>
															</div>
														</div>
													</div>
												</fieldset>

												<!-- Hot Input -->

												<fieldset class="form-group">
													<div class="row">
														<label class="col-form-label col-sm-5 pt-0">Tin
															nổi bật</label>
														<div class="col-sm-7">
															<div class="form-check">
																<input th:field="*{hot}" class="form-check-input"
																	type="radio" name="gridRadiosHot"
																	id="gridRadiosHot1" value="0"> <label
																	class="form-check-label lead text-sm"
																	for="gridRadiosHot1"> Không </label>
															</div>
															<div class="form-check">
																<input th:field="*{hot}" class="form-check-input"
																	type="radio" name="gridRadiosHot"
																	id="gridRadiosHot2" value="1"> <label
																	class="form-check-label lead text-sm"
																	for="gridRadiosHot2"> Có </label>
															</div>
														</div>
													</div>
												</fieldset>

												<!-- Input ImageDetails -->
												<div class="form-group">
													<label for="formControlInputImageDetails">Thêm ảnh mô tả</label>
													<div id="formControlInputImageDetails" class="card border-info">
														<div class="card-body">

															<div id="images-container" class="container">
																<!-- Image Container -->
															</div>
															<div id="old-images-container" hidden>

															</div>
															<button id="btn-add-image" type="button"
																class="float-right btn btn-sm btn-outline-primary"><i
																	class="fas fa-plus"></i>
																Thêm ảnh</button>
														</div>
													</div>
												</div>
											</div>

										</div>

									</form>
								</div>
								<div class="card-footer" style="background-color: white;">
									<div class="row">
										<div class="col">
											<!-- Button Submit -->
											<div>
												<a class="btn btn-primary float-right" th:href="@{/admin/news}">Hủy
													bỏ</a>
												<button id="btn-submit-custom" type="submit"
													class="float-right btn btn-success mr-2">Tạo</button>
											</div>
											<!-- /. button submit -->
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->

	<!-- script option -->
	<th:block layout:fragment="script">
		<!-- List danh mục -->
		<script th:inline="javascript">
			/*<![CDATA[*/
			var $rootCate = /*[[${rootCate}]]*/'rootCate';
			var $targetCategoryId = /*[[${news.category.id}]]*/'prarentId';
			/*]]>*/
			var selected = "";
			recursive($rootCate, $targetCategoryId, "");


			function recursive($rootCate, $targetCategoryId, $level) {

				if ($rootCate.id == $targetCategoryId) {
					selected = 'selected';
				}

				$('#formControlInputCategory').append(`
					<option value="${$rootCate.id}" ${selected}>${$level}${$rootCate.self.name}</option>
				`)

				selected = "";
				if ($rootCate.childs.length > 0) {
					$.each($rootCate.childs, function ($index, $cate) {
						recursive($cate, $targetCategoryId, $level + '&emsp;');
					})
				}
			}
		</script>
		<!-- List danh mục -->
		<script th:replace="/admin-pages/fragments/scripts/news-scripts/news-script"></script>

	</th:block>
	<!-- /. script option -->
</body>

</html>