<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/admin-pages/admin-layout">

<head>
	<meta charset="UTF-8">

	<title>Tin tức</title>


</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header" layout:fragment="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Tin tức</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item">Trang chủ</li>
								<li class="breadcrumb-item active">Tin tức</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content" layout:fragment="content">
				<div class="container-fluid">
					<div class="row">
						<div class="card card-info">
							<div class="card-header">
								<h2 class="card-title font-weight-bold">Cập nhật bài viết</h2>
							</div>
							<div class="card-body">
								<div class="col">
									<form th:object="${news}" th:action="@{'/admin/news/update/' + *{id}}"
										th:method="post" enctype="multipart/form-data">
										<div class="row">
											<div class="col-7">
												<div>
													<!-- Name Input -->

													<div class="form-group">
														<label for="exampleFormControlInput2">Tên bài viết (<span
																style="color: red;">*</span>)</label>
														<input th:field="*{name}" type="text" class="form-control"
															id="exampleFormControlInput2"
															placeholder="Tên bài viết"><span
															class="text text-danger badge" th:if="${isNameError}"
															th:utext="${nameErrorMessage}">Name Error</span>
													</div>

													<!-- Title Input -->

													<div class="form-group">
														<label for="exampleFormControlInput3">Tiêu đề (<span
																style="color: red;">*</span>)</label> <input
															th:field="*{title}" type="text" class="form-control"
															id="exampleFormControlInput3" placeholder="Tiêu đề"><span
															class="text text-danger badge" th:if="${isTitleError}"
															th:utext="${titleErrorMessage}">Title Error</span>
													</div>

													<!-- Select Category -->

													<div class="form-group">
														<label for="inputCategory">Danh mục</label> <select
															class="form-control custom-select"
															th:field="*{category.id}">
															<th:block th:each="rc : ${root_categories}">
																<option th:value="${rc.id}" th:utext="${rc.name}">
																</option>
															</th:block>

														</select>
													</div>


													<!-- Description Input -->
													<div class="form-group">
														<label for="inputDescription">Mô tả</label> <br>
														<textarea class="form-control" id="inputDescription"
															th:field="*{description}" rows="2" style="width: 100%;"
															placeholder="Mô tả"></textarea>
													</div>

													<!-- Content Input -->
													<div class="form-group">
														<label for="inputContent">Nội dung</label>
														<textarea class="textarea form-control" id="inputContent"
															th:field="*{content}" placeholder="Nội dung"></textarea>
													</div>


												</div>

												<!-- Buuton Summit -->
												<div>
													<!-- <a class="btn btn-primary float-right" th:href="@{/admin/news}">Trở
                                                        về</a> -->
													<button id="btn-submit-default" type="submit"
														class="float-right btn btn-success mr-2" hidden>Lưu</button>
												</div>
											</div>
											<div class="col-5">
												<!-- Upload thumbnail image of news -->
												<div class="form-group">
													<label for="uploadThumbnail">Thumbnail</label>

													<div>
														<img th:src="@{*{image} ? *{image} : '/admin-static/images/no-thumbnail-medium.png'}"
															alt="thumbnail-media" class="img-thumbnail mb-3"
															id="thumbnail-image" style="max-height: 200px;">
													</div>

													<input name="news_thumbnail" type="file" class="form-control-file"
														id="uploadThumbnail" accept="image/png, image/jpeg" />
												</div>
												<!-- /.thumbnail image upload -->

												<!-- Public Input -->

												<fieldset class="form-group">
													<div class="row">
														<label class="col-form-label col-sm-5 pt-0">Hiển
															thị</label>
														<div class="col-sm-7">
															<div class="form-check">
																<input th:field="*{pub}" class="form-check-input"
																	type="radio" name="gridRadiosPublic"
																	id="gridRadiosPublic1" value="1"> <label
																	class="form-check-label lead text-sm"
																	for="gridRadiosPublic1"> Hiện thị </label>
															</div>
															<div class="form-check">
																<input th:field="*{pub}" class="form-check-input"
																	type="radio" name="gridRadiosPublic"
																	id="gridRadiosPublic2" value="0"> <label
																	class="form-check-label lead text-sm"
																	for="gridRadiosPublic2"> Ẩn </label>
															</div>
														</div>
													</div>
												</fieldset>

												<!-- Hot Input -->

												<fieldset class="form-group">
													<div class="row">
														<label class="col-form-label col-sm-5 pt-0">Tin
															nổi bật</label>
														<div class="col-sm-7">
															<div class="form-check">
																<input th:field="*{hot}" class="form-check-input"
																	type="radio" name="gridRadiosHot"
																	id="gridRadiosHot1" value="0"> <label
																	class="form-check-label lead text-sm"
																	for="gridRadiosHot1"> Không </label>
															</div>
															<div class="form-check">
																<input th:field="*{hot}" class="form-check-input"
																	type="radio" name="gridRadiosHot"
																	id="gridRadiosHot2" value="1"> <label
																	class="form-check-label lead text-sm"
																	for="gridRadiosHot2"> Có </label>
															</div>
														</div>
													</div>
												</fieldset>

											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="card-footer" style="background-color: white;">
								<div class="row">
									<div class="col">
										<!-- Button Submit -->
										<div>
											<a class="btn btn-primary float-right" th:href="@{/admin/news}">Trở về</a>
											<button id="btn-submit-custom" type="submit"
												class="float-right btn btn-success mr-2">Lưu</button>
										</div>
										<!-- /. button submit -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->

	<!-- script option -->
	<th:block layout:fragment="script">
		<script>
			$('#btn-submit-custom').click(function () {
				$('#btn-submit-default').click();
			})
		</script>

		<!-- preview thumbnail -->
		<script>
			function readURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function (e) {
						$('#thumbnail-image').attr('src', e.target.result);
					}
					reader.readAsDataURL(input.files[0]); // convert to base64 string
				}
			}
			$("#uploadThumbnail").change(function () {
				readURL(this);
			});
		</script>
	</th:block>
	<!-- /. script option -->
</body>

</html>