<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin-pages/admin-layout}">

<head>
    <meta charset="UTF-8">

    <title>Tin tức</title>


</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header" layout:fragment="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Tin tức</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">Trang chủ</li>
                                <li class="breadcrumb-item active">Tin tức</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" layout:fragment="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card card-info w-100">
                            <div class="card-header">
                                <h3 class="card-title">Tất cả bài viết</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="datatable1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <!-- <th>Tên bài viết</th> -->
                                            <th class="text-center">Tiêu đề</th>
                                            <th>Danh mục</th>
                                            <th>Nổi bật</th>
                                            <th>Hiện thị</th>
                                            <th>Sửa đổi lần cuối</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="n, iter : ${newses}">
                                            <td th:utext="${n.id}" scope="row"></td>
                                            <!-- <td class="text text-left" th:utext="${n.name}"></td> -->
                                            <td>
                                                <div class="container">
                                                    <div class="row justify-content-center align-items-center" style="max-width: 300px; max-height: 200px;">
                                                        <div class="col-md-6 col-sm-12" style="height: 100%;">
                                                            <img class="img-thumbnail" th:src="@{${BASE_PATH_NEWS_RESOURCE} +'/'+ ${n.id} + '/' + ${n.thumbnail}}" th:alt="${n.name}" width="100" height="100">
                                                        </div>
                                                        <div style="height: 100%;" class="col-md-6" th:utext="${n.title}"></div>
                                                    </div>
                                                </div>

                                            </td>
                                            <td th:utext="${n.category.name}"></td>

                                            <div>
                                                <th:block th:if="${n.hot == 1}">
                                                    <td><span class="badge badge-pill badge-danger">Nổi
															bật</span></td>
                                                </th:block>

                                                <th:block th:if="${n.hot == 0}">
                                                    <td><span class="badge badge-pill badge-dark">Không</span>
                                                    </td>
                                                </th:block>
                                            </div>

                                            <div>
                                                <th:block th:if="${n.pub == 1}">
                                                    <td><span class="badge badge-pill badge-success">Hiển
															thị</span></td>
                                                </th:block>

                                                <th:block th:if="${n.pub == 0}">
                                                    <td><span class="badge badge-pill badge-dark">Ẩn</span>
                                                    </td>
                                                </th:block>
                                            </div>

                                            <!-- Last modified -->
                                            <th:block th:if="${n.updatedAt}">
                                                <td th:utext="${#temporals.format(n.updatedAt, 'dd/MM/yyyy')}">
                                                </td>
                                            </th:block>

                                            <th:block th:unless="${n.updatedAt}">
                                                <td th:utext="${#temporals.format(n.createdAt, 'dd/MM/yyyy')}">
                                                </td>
                                            </th:block>
                                            <!-- /. Last modified	 -->

                                            <td>
                                                <div class="row justify-content-center">
                                                    <div class="col">
                                                        <a class=" fas fa-edit fa-lg" th:href="@{'/admin/news/detail/' + ${n.id}}"></a>
                                                        <a onclick="return confirm('Bạn chắc chắn muốn xóa ?')" class="fas fa-trash fa-lg mx-3" style="color: red;" th:href="@{'/admin/news/delete/' + ${n.id}}"></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->

    <!-- script option -->
    <th:block layout:fragment="script">

    </th:block>
    <!-- /. script option -->
</body>

</html>