<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="/admin-pages/admin-layout">

<head>
    <meta charset="UTF-8">

    <title>Slide</title>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header" layout:fragment="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Slide</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">Trang chủ</li>
                                <li class="breadcrumb-item active">Slide</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" layout:fragment="content">
                <div class="container-fluid">
                    <div class="row">

                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Tất cả slide</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="datatable1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th class="text-center">Hình ảnh</th>
                                            <th>Tiêu đề</th>
                                            <th>Hiển thị</th>
                                            <th>Thứ tự hiển thị</th>
                                            <th>Sửa đổi lần cuối</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="s, iter : ${slides}">
                                            <td th:utext="${s.id}" scope="row"></td>

                                            <!-- hình ảnh -->
                                            <td class="text-center"><img class="img-thumbnail" th:src="@{${s.image}}"
                                                    width="100" height="100" th:alt="${s.title}"></td>
                                            <!-- /. hình ảnh -->

                                            <td class="text text-left" th:utext="${s.title}"></td>


                                            <div>
                                                <th:block th:if="${s.pub == 1}">
                                                    <td><span class="badge badge-pill badge-success">Hiển
                                                            thị</span></td>
                                                </th:block>

                                                <th:block th:if="${s.pub == 0}">
                                                    <td><span class="badge badge-pill badge-dark">Ẩn</span>
                                                    </td>
                                                </th:block>
                                            </div>

                                            <!-- thứ tự hiển thị -->
                                            <td th:utext="${s.sort}"></td>

                                            <!-- Last modified -->
                                            <th:block th:if="${s.updated_at}">
                                                <td th:utext="${#temporals.format(s.updated_at, 'dd/MM/yyyy')}">
                                                </td>
                                            </th:block>

                                            <th:block th:unless="${s.updated_at}">
                                                <td th:utext="${#temporals.format(s.created_at, 'dd/MM/yyyy')}">
                                                </td>
                                            </th:block>
                                            <!-- /. Last modified	 -->

                                            <td>
                                                <div class="row justify-content-center">
                                                    <div class="col">
                                                        <a class=" fas fa-edit fa-lg"
                                                            th:href="@{'/admin/slide/detail/' + ${s.id}}"></a> <a
                                                            onclick="return confirm('Bạn chắc chắn muốn xóa ?')"
                                                            class="fas fa-trash fa-lg mx-3" style="color: red;"
                                                            th:href="@{'/admin/slide/delete/' + ${s.id}}"></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
</body>

</html>