<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/admin-pages/admin-layout}">

<head>
    <meta charset="UTF-8">

    <title>Spotlight</title>


</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header" layout:fragment="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Spotlight</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">Trang chủ</li>
                                <li class="breadcrumb-item active">Spotlight</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" layout:fragment="content">
                <div class="container-fluid">
                    <div class="row">

                        <div class="card card-info w-100">
                            <div class="card-header">
                                <h3 class="card-title">Tất cả spotlight</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="datatable1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th class="text-center">Tên</th>
                                            <th>Tiêu đề</th>
                                            <th>Hiển thị</th>
                                            <th>Thứ tự hiển thị</th>
                                            <th>Sửa đổi lần cuối</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="spot : ${spotlights}">
                                            <td th:utext="${spot.id}" th:fileld="${spot.id}" scope="row"></td>
                                            <td>
                                                <div class="container">
                                                    <div class="row justify-content-center ailgn-items-center">
                                                        <img class="img-thumbnail" th:src="${spot.image}"
                                                            th:alt="${spot.title}" height="100" width="100"
                                                            style="object-fit: cover;">
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <span class="font-weight-bold text-sm"
                                                            th:utext="${spot.name}"></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td th:utext="${spot.title}" th:field="${spot.title}"></td>


                                            <div>
                                                <th:block th:if="${spot.pub == 1}">
                                                    <td><span class="badge badge-pill badge-success">Hiển
                                                            thị</span></td>
                                                </th:block>

                                                <th:block th:if="${spot.pub == 0}">
                                                    <td><span class="badge badge-pill badge-dark">Ẩn</span>
                                                    </td>
                                                </th:block>
                                            </div>

                                            <td th:utext="${spot.sort}" th:field="${spot.sort}">
                                            </td>

                                            <!-- Last modified -->
                                            <div>
                                                <th:block th:if="${spot.updated_at}">
                                                    <td th:utext="${#temporals.format(spot.updated_at, 'dd/MM/yyyy')}">
                                                    </td>
                                                </th:block>

                                                <th:block th:unless="${spot.updated_at}">
                                                    <td th:utext="${#temporals.format(spot.created_at, 'dd/MM/yyyy')}">
                                                    </td>
                                                </th:block>
                                            </div>
                                            <!-- /. Last modified	 -->

                                            <td>
                                                <div class="row justify-content-center">
                                                    <div class="col">
                                                        <a class=" fas fa-edit fa-lg"
                                                            th:href="@{'/admin/spotlight/detail/' + ${spot.id}}"></a>
                                                        <a onclick="return confirm('Bạn chắc chắn muốn xóa ?')"
                                                            class="fas fa-trash fa-lg mx-3" style="color: red;"
                                                            th:href="@{'/admin/spotlight/delete/' + ${spot.id}}"></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->

    <!-- script option -->
    <th:block layout:fragment="script">
    </th:block>
    <!-- /. script option -->
</body>

</html>