<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/admin-pages/admin-layout">

<head>
	<meta charset="UTF-8">

	<title>Tài khoản</title>


</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header" layout:fragment="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Tài khoản</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item">Trang chủ</li>
								<li class="breadcrumb-item active">Tài khoản</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content" layout:fragment="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="card card-info">
								<div class="card-header">
									<h3 class="card-title">Tất cả tài khoản</h3>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<table id="datatable1" class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>ID</th>
												<th>Tên tài khoản</th>
												<th>Email</th>
												<th>Số điện thoại</th>
												<th>Địa chỉ</th>
												<th>Vai trò</th>
												<th>Sửa đổi lần cuối</th>
												<th>Hành động</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="u, iter : ${users}">
												<td th:utext="${u.id}" scope="row"></td>
												<td class="text text-left" th:utext="${u.name}"></td>
												<td class="text text-left" th:utext="${u.email}"></td>
												<td th:utext="${u.phone}"></td>
												<td th:utext="${u.address}"></td>

												<div>
													<th:block th:if="${u.role == 1}">
														<td><span class="badge badge-pill badge-warning">Quản
																trị</span></td>
													</th:block>

													<th:block th:if="${u.role == 0}">
														<td><span class="badge badge-pill badge-dark">Người
																dùng</span></td>
													</th:block>
												</div>

												<!-- Last modified -->
												<th:block th:if="${u.updated_at}">
													<td th:utext="${#temporals.format(u.updated_at, 'dd/MM/yyyy')}">
													</td>
												</th:block>

												<th:block th:unless="${u.updated_at}">
													<td th:utext="${#temporals.format(u.created_at, 'dd/MM/yyyy')}">
													</td>
												</th:block>
												<!-- /. Last modified	 -->
												<td>
													<div class="row justify-content-center">
														<div class="col">
															<a class=" fas fa-edit fa-lg"
																th:href="@{'/admin/user/detail/' + ${u.id}}"></a>
															<a onclick="return confirm('Bạn chắc chắn muốn xóa ?')"
																class="fas fa-trash fa-lg mx-3" style="color: red;"
																th:href="@{'/admin/user/delete/' + ${u.id}}"></a>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->
</body>

</html>