<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin-pages/admin-layout}">

<head>
    <meta charset="UTF-8">

    <title>Year Slider</title>


</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header" layout:fragment="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Year slider</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">Trang chủ</li>
                                <li class="breadcrumb-item active">Year slider</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" layout:fragment="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card card-info w-100">
                            <div class="card-header">
                                <h3 class="card-title">Tất cả year slider</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="datatable1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th class="text-center">Tên năm </th>
                                            <th>Nổi bật</th>
                                            <th>Hiện thị</th>
                                            <th>Sửa đổi lần cuối</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="y, iter : ${yearsliders}">
                                            <td th:utext="${y.id}" th:fileld="${y.id}" scope="row"></td>

                                            <td th:utext="${y.name}"></td>

                                            <div>
                                                <th:block th:if="${y.hot == 1}">
                                                    <td><span class="badge badge-pill badge-danger">Nổi
															bật</span></td>
                                                </th:block>

                                                <th:block th:if="${y.hot == 0}">
                                                    <td><span class="badge badge-pill badge-dark">Không</span>
                                                    </td>
                                                </th:block>
                                            </div>

                                            <div>
                                                <th:block th:if="${y.pub == 1}">
                                                    <td><span class="badge badge-pill badge-success">Hiển
															thị</span></td>
                                                </th:block>

                                                <th:block th:if="${y.pub == 0}">
                                                    <td><span class="badge badge-pill badge-dark">Ẩn</span>
                                                    </td>
                                                </th:block>
                                            </div>

                                            <!-- Last modified -->
                                            <th:block th:if="${y.updatedAt}">
                                                <td th:utext="${#temporals.format(y.updatedAt, 'dd/MM/yyyy')}">
                                                </td>
                                            </th:block>

                                            <th:block th:unless="${y.updatedAt}">
                                                <td th:utext="${#temporals.format(y.createdAt, 'dd/MM/yyyy')}">
                                                </td>
                                            </th:block>
                                            <!-- /. Last modified	 -->

                                            <td>
                                                <div class="row justify-content-center">
                                                    <div class="col">
                                                        <a class=" fas fa-edit fa-lg" th:href="@{'/admin/year-slider/detail/' + ${y.id}}"></a>
                                                        <a onclick="return confirm('Bạn chắc chắn muốn xóa ?')" class="fas fa-trash fa-lg mx-3" style="color: red;" th:href="@{'/admin/year-slider/delete/' + ${y.id}}"></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->

    <!-- script option -->
    <th:block layout:fragment="script">

    </th:block>
    <!-- /. script option -->
</body>

</html>