<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>500 | Thuận Thành Land</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="${#request.contextPath} + '/css/errors/500.css'">

</head>

<body>
    <div id="error">
        <div id="box"></div>
        <h3>ERROR 500</h3>
        <p>Things are a little <span>unstable</span> here</p>
        <p>I suggest come back later</p>
    </div>
</body>

</html>