<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar">
    <!-- Brand Logo -->
    <a th:href="@{/home}" class="brand-link">
        <img src="/admin-static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">ThuanThanhLand</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/admin-static/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->

                <!-- Dashboard -->
                <li class="nav-item has-treeview">
                    <a th:href="@{/home}" th:class="${active_home}? 'nav-link active':'nav-link'">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Trang chủ
                            <!-- <i class="right fas fa-angle-left"></i> -->
                        </p>
                    </a>
                </li>
                <!-- End Dashboard -->

                <!-- Du An -->
                <li class="nav-item has-treeview">
                    <a href="#" th:class="${active_project}? 'nav-link active':'nav-link'">
                        <i class="nav-icon far fa-building"></i>
                        <p>
                            Dự án
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tất cả dự án</p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm dự án</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- /. Du An -->

                <!-- Danh muc -->
                <li class="nav-item has-treeview">
                    <a href="#" th:class="${active_category}? 'nav-link active':'nav-link'">
                        <i class="nav-icon fas fa-th-list"></i>
                        <p>
                            Danh mục
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/category}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tất cả danh mục</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/category/create}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm danh mục</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- /.danh muc -->

                <!-- Tin tuc -->
                <li class="nav-item has-treeview">
                    <a href="#" th:class="${active_news}? 'nav-link active':'nav-link'">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                            Tin tức
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/news}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tất cả tin tức</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/news/create}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm tin tức</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- /.tin tức -->

                <!-- Người dùng -->
                <li class="nav-item has-treeview">
                    <a href="#" th:class="${active_user}? 'nav-link active':'nav-link'">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Tài khoản
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/user}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tất cả tài khoản</p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a th:href="@{/user/create}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm tài khoản</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- /.người dùng -->
                
                <!-- liên hệ -->
                <li class="nav-item has-treeview">
                    <a href="#" th:class="${active_contact}? 'nav-link active':'nav-link'">
                        <i class="nav-icon fas fa-address-book"></i>
                        <p>
                            Liên hệ
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/contact}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tất cả liên hệ</p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a th:href="@{/contact/create}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm liên hệ</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- /.liên hệ -->
                
                <!-- slide -->
                <li class="nav-item has-treeview">
                    <a href="#" th:class="${active_slide}? 'nav-link active':'nav-link'">
                        <i class="nav-icon fas fa-magic"></i>
                        <p>
                            Slides
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/slide}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tất cả slide</p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a th:href="@{/slide/create}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm slide</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- /.slide -->
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->