<header class="fixed-top bg-dark" role="banner" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand " th:href="@{/home}">Thuận Thành Land</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav pl-md-5">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">Về chúng tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/project}">Dự án</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:href="@{/services}" id="dropdown04"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dịch vụ</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="#">Dịch vụ 1</a>
                            <a class="dropdown-item" href="#">Dịch vụ 2</a>
                            <a class="dropdown-item" href="#">Dịch vụ 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/news}">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/recruitment}">Tuyển dụng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>