<script src="/public-static/js/jquery-3.2.1.min.js"
    th:src="${#request.contextPath} + '/public-static/js/jquery-3.2.1.min.js'"></script>


<script src="/public-static/js/popper.min.js"
    th:src="${#request.contextPath} + '/public-static/js/popper.min.js'"></script>

<script src="/public-static/js/bootstrap.min.js"
    th:src="${#request.contextPath} + '/public-static/js/bootstrap.min.js'"></script>


<script src="/public-static/js/owl.carousel.min.js"
    th:src="${#request.contextPath} + '/public-static/js/owl.carousel.min.js'"></script>

<script src="/public-static/js/jquery.waypoints.min.js"
    th:src="${#request.contextPath} + '/public-static/js/jquery.waypoints.min.js'"></script>

<script src="/public-static/js/main.js" th:src="${#request.contextPath} + '/public-static/js/main.js'"></script>

<script src="/js/multi-dropdown-navbar/bootstrap-4-navbar.js"
    th:src="${#request.contextPath} + '/js/multi-dropdown-navbar/bootstrap-4-navbar.js'"></script>

<script>
    $(function () {
        $('#btnFakeClientLogout').on('click', function () {
            $('#btnRealClientLogout').click();
        })
    })
</script>