<script src="/public-static/js/jquery-3.2.1.min.js"
    th:src="${#request.contextPath} + '/public-static/js/jquery-3.2.1.min.js'"></script>


<script src="/public-static/js/popper.min.js"
    th:src="${#request.contextPath} + '/public-static/js/popper.min.js'"></script>

<script src="/public-static/js/bootstrap.min.js"
    th:src="${#request.contextPath} + '/public-static/js/bootstrap.min.js'"></script>


<script src="/public-static/js/owl.carousel.min.js"
    th:src="${#request.contextPath} + '/public-static/js/owl.carousel.min.js'"></script>

<script src="/public-static/js/jquery.waypoints.min.js"
    th:src="${#request.contextPath} + '/public-static/js/jquery.waypoints.min.js'"></script>

<script src="/public-static/js/main.js" th:src="${#request.contextPath} + '/public-static/js/main.js'"></script>

<script th:inline="javascript">
    $.get(url = "/api/category",
        success = function (root) {
            $.each(root.childs, function (index, cate) {
                if (cate.childs.length == 0) {
                    $('.navbar-nav').append(`
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold text-white" href="/${cate.self.slug}">${cate.self.name}</a>
                        </li>
                    `)
                } else {
                    $('.navbar-nav').append(`
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold text-white" href="/${cate.self.slug}" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">${cate.self.name}</a>
                            <ul id="dropdown-menu-${cate.id}" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            </ul>
                        </li>
                    `)
                    recursive(cate, cate.self.slug);
                }
            })
        }
    ).done(function () {
        // <!-- Multi dropdown navbar -->
        $.getScript('/js/multi-dropdown-navbar/bootstrap-4-navbar.js');
    })

    function recursive($rootCate, $rootCateSlug) {
        var childs = $rootCate.childs;
        $.each(childs, function (index, cate) {
            if (cate.childs.length == 0) {
                $(`#dropdown-menu-${$rootCate.id}`).append(`
                <li><a class="dropdown-item font-weight-bold" href="/${$rootCateSlug}/${cate.self.slug}">${cate.self.name}</a></li> 
            `)
            } else {
                $(`#dropdown-menu-${$rootCate.id}`).append(`
                    <li><a class="dropdown-item dropdown-toggle font-weight-bold" href="/${$rootCateSlug}/${cate.self.slug}" >${cate.self.name}</a>
                        <ul id="dropdown-menu-${cate.id}" class="dropdown-menu">
                            
                        </ul>
                    </li>
                `)
                recursive(cate, $rootCateSlug);
            }
        })

    }
</script>