<!-- home slider -->
<th:block th:fragment="home-slider">
	<div id="home-slider" class="home-slider owl-carousel">
		<th:block th:each="s : ${slides}">
			<div class="slider-item" th:style="'background-image: url('+ @{${#uris.escapePath(s.image)}} + ');'">

				<div class="container">
					<div class="row slider-text align-items-center justify-content-center">
						<div class="col-md-7 text-center col-sm-10 element-animate"
							style="background-color: rgba(0,0,0, 0.1);">

							<h1 class="text-uppercase font-weight-bold mt-2" th:utext="${s.title}">
								Thuận Thành Land</h1>
							<p class="mb-2 sub-text font-weight-bold" th:utext="${s.description}">Lorem
								ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde
								impedit, necessitatibus, soluta sit quam minima expedita atque
								corrupti reiciendis.</p>
						</div>
					</div>
				</div>

			</div>
		</th:block>
	</div>
</th:block>

<!-- /.home slider -->